LOG_ENABLED=true
LOG_LEVEL=info
LOG_LEVEL_DEBUG=false
LOG_LEVEL_INFO=true
LOG_LEVEL_WARN=true
LOG_LEVEL_ERROR=true
LOG_SOURCE_ROUTE=false
LOG_SOURCE_SERVICE=false
LOG_SOURCE_HELPER=false
LOG_SOURCE_SECURITY=false
LOG_SOURCE_USER=false
