:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-icon {
  vertical-align: middle;
}

mat-spinner {
  display: inline-block;
}

table {
  border-collapse: collapse;
}

th,
td {
  white-space: nowrap;
}
