<div class="search-wrapper">
  @if (isVisible()) {
    <div class="search-input-wrapper">
      <mat-icon class="search-icon" fontIcon="search" />
      <input
        type="text"
        class="search-input"
        placeholder="Search..."
        [formControl]="searchControl"
        (keydown.escape)="hide()"
      />
      @if (searchControl.value) {
        <button (click)="clearSearch()" class="search-clear-btn">
          <mat-icon class="clear-icon" fontIcon="close" />
        </button>
      }
    </div>
  } @else {
    <button (click)="show()" class="search-toggle-btn">
      <mat-icon class="toggle-icon" fontIcon="search" />
      <span class="toggle-text">Search</span>
    </button>
  }
</div>
