<label
  class="checkbox-wrapper"
  [class.checked]="_checked()"
  [class.indeterminate]="_indeterminate()"
  [class.disabled]="disabled()"
  [matTooltip]="tooltip()"
  tabindex="0"
  role="checkbox"
  [attr.aria-checked]="_indeterminate() ? 'mixed' : _checked()"
  (click)="onClick($event)"
  (keydown)="onKeydown($event)"
>
  <input type="checkbox" [checked]="_checked()" [disabled]="disabled()" class="checkbox-input" />
  <span class="checkbox-mark">
    @if (_indeterminate()) {
      <mat-icon class="checkbox-icon">remove</mat-icon>
    } @else if (_checked()) {
      <mat-icon class="checkbox-icon">check</mat-icon>
    }
  </span>
</label>
